<div *ngIf="!this.artistService.accessToken" class="login-button"> <a href={{logInUrl}}>Log In to Spotify</a></div>

<div class="retrieve-button" *ngIf="this.artistService.accessToken && !artists.length">
  <button (click)="retrieveData()">
    View Artist Breakdown
  </button>
</div>

<div class="toggle-row" *ngIf="artists.length">
  <div class="checkbox-col">
    <input type="checkbox" id="toggle" name="toggle" [checked]="!showDataForAllTime" (change)="toggleView()">
    <span>Show Data for Last 6 Months</span>
  </div>
  <div class="container">
    <button (click)="generatePlaylist()" [disabled]="generatingPlaylist">
      Generate Playlist from Top Songs
    </button>
  </div>
</div>

<div *ngIf="artists.length" class="container-row">
  <div class="container">
    <div class="artist-container" *ngFor="let artist of artists; let i = index">
      <div class="artist-name"><b>{{i + 1}}. {{artist.name}}</b></div>
      <div class="genre" *ngFor="let genre of artist.genres"><span>{{genre}}</span></div>
    </div>
  </div>
  <div class="container">
    <div class="artist-container" *ngFor="let song of songs; let i = index">
      <div class="artist-name"><b>{{i + 1}}. {{song.name}}</b></div>
      <div class="genre"><span>{{song.album.artists[0].name}}</span></div>
      <div class="genre"><span>{{song.album.name}}</span></div>
    </div>
  </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->