.artist-container {
  padding: 10px;
}

.artist-name {
  font-size: 20px;
  margin-bottom: 2px;
}

.genre {
  margin-left: 25px;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container {
  flex-direction: column;
  width: 50%;
}

.login-button {
  margin-top: 15px;
}

.retrieve-button {
  margin-top: 15px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/