<br>
<div *ngIf="!this.artistService.accessToken"> <a href="https://accounts.spotify.com/authorize?client_id=af93ffba55fe40c39a8dc77f025c17c9&response_type=code&redirect_uri=https://spoofy-top-artist.stackblitz.io&scope=user-top-read">Login to Spotify</a></div>
<br>
<br>

<div *ngIf="this.artistService.accessToken">
  <button (click)="retrieveArtists()">
    View Artist Breakdown
  </button>
</div>

<div>
  <div class="artist-container" *ngFor="let artist of artists; let i = index">
    <div class="artist-name"><b>{{i + 1}}. {{artist.name}}</b></div>
    <div class="genre" *ngFor="let genre of artist.genres"><span>{{genre}}</span></div>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->